{% extends "layouts/boilerplate.html" %}

{% block body %}
  
	<div class="row-fluid">

		<div class="span10">
			<form id="new-person" action="{{ url_for('persons.new') }}" method="post">
				<div class="section">
					{{form.first_name(class="span12", placeholder="First Name")}}
					{{form.last_name(class="span12", placeholder="Last Name")}}
				</div>

				<div class="section">
					{% for adrs in form.addresses %}
						{{ adrs.form.name(class="span12", placeholder="Address") }}
					{% endfor %}
					<a class="more">More Addresses</a>
				</div>

				<div class="section">
					{% for email in form.emails %}
						{{ email.form.name(class="span12", placeholder="Email") }}
					{% endfor %}
					<a class="more">More Emails</a>
				</div>

				<div class="section">
					{% for phone in form.phones %}
						{{ phone.form.name(class="span12", placeholder="Phonenumber") }}
					{% endfor %}
					<a class="more">More Numbers</a>
				</div>

				<div class="section">
					{% for group in form.groups %}
						{{ group.form.name(class="span12", placeholder="Address") }}
					{% endfor %}
					<a class="more">More Groups</a>
				</div>

				<button type="submit" class="nprs span3 btn btn-primary pull-right">Add Person</button>
			</form>
		</div>
  	</div>
{% endblock %}