{% macro render_field(field) %}
    <div class="form-fields">{{ field.label }}
    {% if field.type == 'RadioField' %}
        {% for subfield in field %}
        <label class="radio inline">{{ subfield }} {{ subfield.label }}</label>
        {% endfor %}
    {% else %}
        {{ field(**kwargs) }}
    {% endif %}

    {% if field.errors %}
        <span class="error help-inline">
            {% for error in field.errors %}{{ error }}{% endfor %}
        </span>
    {% endif %}</div>
{% endmacro %}